.toggle-comments {
    background: none;
    border: none;
    font-size: 24px;
    font-weight: 700;
    width: fit-content;
    padding: var(--space-100) 0;
}

.comments {
    border: 1px solid var(--main-grey);
    border-radius: var(--space-300);
    padding: var(--space-500) var(--space-600);
    gap: var(--space-500);
}
