.comment-section {
    padding-bottom: var(--space-400);
    gap: var(--space-700);
}

.toggle-comments {
    background: none;
    border: none;
    width: fit-content;
    padding: var(--space-100) 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-comments,
.main-comments-span {
    font-size: 24px;
    font-weight: 700;
    color: var(--green-900);
}

.main-comment-form-title {
    font-size: 16px;
    font-weight: 400;
    color: var(--green-900);
}

.main-comment-form-title.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.comments {
    border-radius: var(--space-300);
    padding: var(--space-500) var(--space-600);
    gap: var(--space-500);
}

.comments > div {
    gap: var(--space-500);
}
