.comment-container {
    gap: var(--space-500);
    position: relative;
}
.comment-container.parent-comment::after {
    content: '';
    position: absolute;
    left: 22px;
    top: 50px;
    width: 2px;
    height: calc(100% - 50px);
    background-color: var(--green-100);
}
.comment {
    display: grid;
    grid-template-columns: 44px auto;
    max-width: 60%;
    max-height: var(--space-900);
    gap: var(--space-200);
}
.comment.deleted {
    grid-template-columns: auto 24px;
}

.comment.expanded {
    max-height: none;
}

.comment .image-container {
    width: 44px;
    align-self: start;
    aspect-ratio: 1/1;
}
.comment .image-container img {
    border-radius: var(--space-200);
}

.comment .text {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
}

.comment p {
    word-break: break-word;
}
.comment p.overflown {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toggle-comment-length,
.more-replies-button {
    background: none;
    border: none;
    width: fit-content;
    font-weight: 700;
    color: var(--green-700);
}

.more-replies-button {
    font-size: 1em;
}

.comment-container > *:not(.comment) {
    margin-left: var(--space-600);
}

.comment-container .replies-section {
    margin-left: calc(44px + var(--space-200));
}

.replies-section .replies-actions {
    gap: var(--space-200);
}

.replies-actions .action-button {
    align-items: center;
    gap: var(--space-100);
}

.bottom-marker {
    position: absolute;
}
