.hero {
    background: linear-gradient(to bottom, var(--green-900), var(--green-500));
    padding: var(--space-500);
}

.hero a {
    color: white;
    margin-right: 0;
    margin-left: auto;
}

.hero .hero-main-content {
    max-width: 400px;
    margin: 0 auto;
    color: white;
    gap: 4em;
}

.logo {
    max-width: 150px;
}
.hero .logo {
    padding-left: var(--space-400);
}

.hero .title-primary {
    font-size: 96px;
    margin-top: calc(var(--space-300) * -1);
    margin-bottom: calc(var(--space-300) * -1);
}

.hero button {
    border: 1px solid white;
    color: white;
    background: none;
}

.container .posts-link {
    margin: 0 auto;
}

main {
    padding: var(--space-600) 0 var(--space-800);
    gap: var(--space-900);
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}
main > * {
    max-width: 100%;
}

main > p {
    font-size: 24px;
    margin: 0 auto;
    color: var(--green-900);
}

footer {
    background: linear-gradient(
        to bottom,
        var(--green-900),
        hsl(115, 100%, 6%)
    );
    color: white;
    padding: var(--space-600) var(--space-700) var(--space-800);
}

footer .logo {
    margin-bottom: var(--space-600);
}
footer nav {
    gap: var(--space-400);
}
footer ul {
    list-style: none;
    gap: var(--space-200);
}
