.user-form-layout {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    flex: 1;
}

.user-form-background {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form-background h1 {
    font-size: 64px;
    font-weight: 400;
    max-width: 400px;
    text-align: center;
}

.user-form-section {
    background-color: var(--green-900);
    display: flex;
    justify-content: center;
}

.user-form-container {
    width: 100%;
    max-width: 350px;
    gap: var(--space-200);
    padding: var(--space-500) 0;
}

.user-form-container h1 {
    font-size: 64px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 1;
}

.method-tabs {
    list-style: none;
    font-size: 14px;
    gap: var(--space-500);
    justify-content: center;
    color: white;
    position: relative;
    z-index: 1;
    width: fit-content;
    margin: 0 auto;
}

.method-tabs li {
    flex: 1;
    min-width: 60px;
    text-align: center;
    text-wrap: nowrap;
}

.method-tabs li.selected {
    color: var(--green-900);
    transition: color 0.5s ease;
}

.tab-highlight {
    position: absolute;
    width: var(--space-700);
    height: 100%;
    background-color: var(--green-100);
    border-radius: 100vh;
    z-index: -1;

    transition: left 0.3s ease;
    left: calc(((var(--space-700) - 60px) / 2) * -1);
}
.tab-highlight.right {
    left: calc(100% - var(--space-700) + ((var(--space-700) - 60px) / 2));
}

.form-input-container {
    width: 100%;
    height: fit-content;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-container::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--green-300);
    border-radius: 100vh;
    width: 100%;
    height: 100%;
    transform: translate(6px, -3px);
    z-index: -1;
    transition:
        transform 0.5s ease,
        width 0.5s ease,
        height 0.5s ease;
}
.form-input-container:focus-within::before {
    width: calc(100% + var(--space-100));
    height: calc(100% + var(--space-100));
    transform: translate(0, 0);
}
.form-input-container.error::before {
    background-color: var(--error-red);
}

.form-input {
    width: 100%;
    border: 2px solid var(--green-900);
    border-radius: 100vw;
    height: 30px;
    padding: 0 var(--space-100);
    outline: none;
}

.user-form {
    /* max-width: 400px; */
    width: 100%;
    margin: 0 auto;

    gap: var(--space-400);
    text-align: center;
}

.user-form label {
    color: white;
    gap: var(--space-100);
    text-align: left;
    font-size: 16px;
    display: grid;
    grid-template-rows: auto auto 16px;
}

.form-error {
    color: var(--error-red);
    font-size: 14px;
    align-items: center;
    gap: var(--space-100);
}

.fields-container {
    gap: var(--space-200);
}

.user-form button {
    background-color: var(--green-100);
    color: var(--green-900);
    border: none;
    border-radius: 100vh;
    width: fit-content;
    font-size: 24px;
    font-weight: 700;
    padding: 0.5em 2em;
    margin: 0 auto;
}
