.container.post-container {
    padding-bottom: var(--space-800);
}

.post {
    padding: var(--space-400) 0 var(--space-500);
    gap: var(--space-600);
    max-width: 650px;
    margin: 0 auto;
    width: 100%;
}

.post .headings {
    gap: var(--space-200);
}
.post h1 {
    color: var(--green-900);
    font-size: 64px;
    font-weight: 500;
}
.post p {
    font-size: 20px;
}

.post .image-container {
    width: 100%;
    aspect-ratio: 1.9/1;
}

.horizontal-separator {
    background-color: var(--main-grey);
    width: 100%;
    height: 1px;
}

.post-container + .horizontal-separator {
    margin: var(--space-400) 0;
}
