.profile-container {
    padding: var(--space-600) 0;
    color: var(--green-900);
}

.profile-container .grey-card {
    padding: var(--space-600);
}

.profile-card {
    gap: var(--space-600);
}

.profile-container .main-section {
    gap: var(--space-600);
}
.profile-container .image-container {
    width: var(--space-900);
    height: var(--space-900);
}

.profile-container .image-container img {
    border-radius: var(--space-300);
    object-fit: cover;
}

.profile-user-info {
    flex: 1;
}

.profile-user-info span {
    display: block;
    word-break: break-all;
}
.profile-user-info .user-name {
    font-size: 32px;
    font-weight: 500;
}

.profile-user-info .user-email {
    font-size: 20px;
}

.profile-container .profile-edit-button {
    margin-top: auto;
    width: fit-content;
    align-items: center;
    gap: var(--space-100);
}

.profile-card .title-primary {
    font-size: 28px;
    font-weight: 300;
}

.profile-card .title-primary.small {
    font-size: 20px;
}
