@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --green-900: #0e430a;
    --green-700: #256020;
    --green-500: #3f783a;
    --green-400: #5a9155;
    --green-300: #73aa6e;
    --green-200: #92bd8f;
    --green-100: #d9e5d8;
    --grey-100: #edeeef;
    --grey-400: #9999a3;
    --grey-900: #616167;
    --error-red: #ee5454;

    --space-100: 8px;
    --space-200: 12px;
    --space-300: 16px;
    --space-400: 24px;
    --space-500: 32px;
    --space-600: 48px;
    --space-700: 72px;
    --space-800: 96px;
    --space-900: 160px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html,
#root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
}
img {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}

.title-primary {
    font-family: 'Playfair Display';
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.grey-card {
    border: 1px solid var(--grey-400);
    border-radius: var(--space-200);
    padding: var(--space-600) var(--space-400);
    box-shadow: 6px 6px 0 var(--grey-100);
}

.single-icon-container {
    background: none;
    border: none;
    aspect-ratio: 1/1;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.primary-button {
    background-color: var(--green-400);
    color: white;
    border: none;
}

.secondary-button {
    background-color: var(--green-100);
    color: var(--green-900);
    border: none;
}

.tertiary-button {
    background-color: var(--grey-100);
    color: var(--green-900);
    border: none;
}

.outlined-button-900 {
    border: 1px solid var(--green-900);
    color: var(--green-900);
    background: none;
}

.outlined-button-400 {
    border: 1px solid var(--green-400);
    color: var(--green-400);
    background: none;
}

.light-outline {
    border-color: var(--green-100);
}

.smaller {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0.75em;
    width: fit-content;
}

.small {
    font-size: 16px;
    font-weight: 500;
    padding: 0.25em 0.8em;
    width: fit-content;
}

.medium {
    font-size: 24px;
    font-weight: 500;
    padding: 0 1em;
    width: fit-content;
}

.large {
    font-size: 32px;
    font-weight: 600;
    padding: 0.25em 1.5em;
    width: fit-content;
}

.rounded {
    border-radius: 100vh;
}
.semi-rounded {
    border-radius: 0.3em;
}
